<header>
    <div class="topbar-container">
        <div class="container wrap">
            <div class="contacts">
                <a href="#footer" target="_blank"  rel="noopener noreferrer">
                    <span><img src="icons/location.svg" alt="icone de uma pin de localicação"> </span>Endereço
                </a>
                <a href="13996899084" type="tel"  rel="noopener noreferrer">
                    <span><img src="icons/phone.svg" alt="icone de um telefone"> </span>Contato
                </a>
            </div>
            <div class="socials">
                <p>Siga-nos:</p>
                <a href="#" target="_blank"  rel="noopener noreferrer">
                    <img src="icons/instagram.svg" alt="icone do instagram">
                </a>
                <a href="#" target="_blank"  rel="noopener noreferrer">
                    <img src="icons/tiktok.svg" alt="icone do tiktok">
                </a>
                <a href="#" target="_blank"  rel="noopener noreferrer">
                    <img src="icons/linkedin.svg" alt="icone do linkedin">
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="icons/logo.svg" alt="logo do alan advocacia">
                </a>
            </div>
            <nav class="menu-container">
                <button class="hamburger" (click)="toggleMobileMenu()" [attr.aria-expanded]="isMobileMenuOpen" aria-label="Abrir menu">
                    <img src="icons/menu.svg" alt="menu" class="hamburger-icon">
                </button>

                <ul class="menu-items-container" [class.open]="isMobileMenuOpen">
                    <div class="items">
                        <li><a routerLink="sobre" (click)="closeMobileMenu()">Sobre Nós</a></li>
                        <li><a routerLink="calculadora" (click)="closeMobileMenu()">Calculadora trabalhista</a></li>
                        <li><a routerLink="atuacao" (click)="closeMobileMenu()">Áreas de Atuação</a></li>
                        <li><a routerLink="contato" (click)="closeMobileMenu()">Contato</a></li>
                    </div>
                    <div class="button">
                        <app-button
                        [text]="'ENTRAR EM CONTATO'"
                        [href]="'#'"
                        [icon]="'icons/whatsapp-black.svg'"
                        [alt]="'icone do whatsapp'"
                        [style]="'white'"
                        >
                        </app-button>
                    </div>
                    
                </ul>
            </nav>

            <div class="mobile-backdrop" [hidden]="!isMobileMenuOpen" (click)="closeMobileMenu()"></div>
            
                
            
        </div>
    </div>
</header>
