<header>
    <div class="topbar-container">
        <div class="container wrap">
            <div class="contacts">
                <a href="#" target="_blank"  rel="noopener noreferrer">
                    <span><img src="icons/location.svg"> </span>Endereço
                </a>
                <a href="#" type="tel"  rel="noopener noreferrer">
                    <span><img src="icons/phone.svg"> </span>Contato
                </a>
            </div>
            <div class="socials">
                <p>Siga-nos:</p>
                <a href="#" target="_blank"  rel="noopener noreferrer">
                    <img src="icons/instagram.svg">
                </a>
                <a href="#" target="_blank"  rel="noopener noreferrer">
                    <img src="icons/tiktok.svg">
                </a>
                <a href="#" target="_blank"  rel="noopener noreferrer">
                    <img src="icons/linkedin.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="images/Logo-Claro.png" alt="">
                </a>
            </div>
            <div class="button-container">
                <a href="#" class="btn-contact btn-primary">
                    Entrar em contato
                    <img src="icons/whatsapp.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
