<section id="sobre">
    <div class="sobre-container container-sm">
        <div class="content">
            <h1>Dr. Allan Rodrigues</h1>
                <p>Com mais de 8 anos de experiência na advocacia e mais de 500 clientes atendidos, o Dr. Allan Rodrigues construiu sua trajetória pautada na ética, no comprometimento e na busca por soluções jurídicas eficazes.</p>
                <p>Ao longo de sua carreira, atuou na condução de centenas de casos, oferecendo atendimento personalizado e desenvolvendo estratégias jurídicas alinhadas às necessidades de cada cliente. Sua atuação é marcada pela proximidade, transparência e dedicação em todas as etapas do processo.</p>
                <p>À frente da Allan Rodrigues Advocacia, concentra sua atuação principalmente no Direito do Trabalho, sem deixar de oferecer assessoria especializada nas áreas de Direito Civil, Direito Previdenciário, Direito de Família e Sucessões e Direito do Consumidor.</p>
                <p>Com sede em Santos/SP e atendimento para todo o Brasil, alia conhecimento jurídico, tecnologia e um relacionamento próximo com seus clientes para oferecer uma advocacia moderna, acessível e focada em resultados.</p>
                <div class="button-container">
                    <app-button
                    [text]="'Entre em contato'"
                    [href]="'https://wa.me/+551396899084'"
                    [style]="'green'"
                    [icon]="'icons/whatsapp-white.svg'"
                    >
                    </app-button>
                </div>
        </div>
        <div class="img-container">
            <img src="images/advogado-especialista-direito-trabalho-santos.webp" alt="Allan Rodrigues advogado de braços cruzados, traje formal azul marinho, foto profissional">
        </div>
    </div>
</section>
