<section id="diferentials">
    <div class="container-sm diferentials-container column" data-slide="true">
        <h2>Fale com nossa equipe. <br>Estamos prontos para ajudar.</h2>
        <p>
            Entre em contato pelo WhatsApp e conte-nos um pouco sobre o seu caso. Nossa equipe fará uma análise inicial das informações e orientará você sobre as melhores soluções jurídicas e os próximos passos.
        </p>
        <p>
            Na Allan Rodrigues Advocacia, cada atendimento é realizado com seriedade, transparência e total compromisso com a defesa dos seus direitos.
        </p>
        <app-button
        [text]="'ENTRAR EM CONTATO'"
        [icon]="'icons/whatsapp-white.svg'"
        [style]="'green'"
        [href]="'https://wa.me/+551396899084'"
        >

        </app-button>
    </div>
</section>