<section id="contato">
    <div class="container-contato container-sm">
        <h1>Fale conosco</h1>
        <p>Nossa equipe está preparada para atender você com agilidade, atenção e compromisso. Utilize um dos nossos canais de atendimento e conte com uma assessoria jurídica personalizada para esclarecer suas dúvidas e encontrar a melhor solução para o seu caso.</p>

        <div class="address-container">
            <div class="card-container">
                <article class="card">
                    <div class="img-container">
                        <img src="icons/phone.svg" alt="icone de um telefone">
                    </div>
                    <h2>Telefone</h2>
                    <ul>
                        <li>
                            <a href="tel:+551396899084" type="tel">
                                <p>(13) 99689-9084</p>
                            </a>
                            <a href="https://wa.me/+551396899084" class="icon-container"
                            target="_blank"
                            >
                                <img src="icons/whatsapp-green.svg" alt="icone do whatsapp"></a>
                        </li>
                        <li>
                            <a href="tel:+5513996349939" type="tel">
                                <p>(13) 99634-9939</p>
                            </a>
                            <a href="https://wa.me/+5513996349939" 
                            target="_blank"
                            class="icon-container">
                                <img src="icons/whatsapp-green.svg" alt="icone do whatsapp">
                            </a>
                        </li>
                    </ul>
                </article>
                <article class="card">
                    <div class="img-container">
                        <img src="icons/mail-black.svg" alt="icone de uma carta">
                    </div>
                    <h2>E-mail</h2>
                    <ul>
                        <li>
                            <a href="mailto:allansilvarodrigues2@gmail.com" type="mail">
                                allansilvarodrigues2@gmail.com
                            </a>
                        </li>
                    </ul>
                </article>
                <article class="card">
                    <div class="img-container">
                        <img src="icons/location.svg" alt="icone de um pin de localização">
                    </div>
                    <h2>Endereço</h2>
                    <ul>
                        <li>
                            Av. Presidente Wilson, n° 7, sobreloja 6, Santos, São Paulo, Brasil — 11065-200
                        </li>
                        <li class="light-item">
                            <img src="icons/clock.svg" alt="icone de um relógio">
                            <p>Seg. a sex., 9h às 18h</p>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="map-container">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.768215194027!2d-46.33609792375535!3d-23.968635076682837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce031b2b83c521%3A0x79cbe76b79231541!2sAv.%20Pres.%20Wilson%2C%207%20-%20Gonzaga%2C%20Santos%20-%20SP%2C%2011065-200!5e0!3m2!1spt-BR!2sbr!4v1786057476429!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                 <div class="map-actions">
                    <p>Av. Presidente Wilson, n° 7, sobreloja 6, Santos, São Paulo, Brasil — 11065-200</p>

                    <a href="https://www.google.com/maps/search/?api=1&query=Av.+Presidente+Wilson+7+Santos+SP" class="open-map" target="_blank">
                        Abrir no Maps
                    </a>
                 </div>
            </div>
        </div>
    </div>
</section>
