<section id="diferentials">
    <div class="container-sm diferentials-container column" data-slide="true">
        <h2>Por que escolher o Allan Rodrigues Advocacia</h2>
        <p>
            Mais de 8 anos de experiência, equipe especializada, estrutura nacional e atendimento humanizado para garantir segurança, agilidade e resultados jurídicos concretos
        </p>
        <div class="diferentials-cards-container">
            <app-diferentials-card
            [icon]="'icons/law.svg'"
            [alt]="'Icone de uma balança'"
            [title]="'Transparência e Confiança'"
            [description]="'Valorizamos uma comunicação clara e objetiva, mantendo nossos clientes informados sobre cada etapa do processo e proporcionando segurança durante toda a atuação jurídica.'"
            >
    
            </app-diferentials-card>
            <app-diferentials-card
            [icon]="'icons/heart.svg'"
            [alt]="'Icone de um coração'"
            [title]="'Atendimento Personalizado'"
            [description]="'Cada caso é único. Por isso, dedicamos atenção individualizada para compreender a realidade de cada cliente e desenvolver a estratégia jurídica mais adequada aos seus objetivos.'"
            >
    
            </app-diferentials-card>
            <app-diferentials-card
            [icon]="'icons/medal.svg'"
            [alt]="'Icone de uma medalha'"
            [title]="'Atendimento Especializado'"
            [description]="'Atuação estratégica nas áreas de Direito do Trabalho, Direito Civil, Direito Previdenciário, Direito de Família e Sucessões e Direito do Consumidor, oferecendo soluções jurídicas personalizadas para cada cliente.'"
            >
    
            </app-diferentials-card>
            <app-diferentials-card
            [icon]="'icons/star.svg'"
            [alt]="'Icone de uma estrela'"
            [title]="'Compromisso com Resultados'"
            [description]="'Nosso trabalho é pautado pela ética, dedicação e responsabilidade, sempre buscando a melhor solução jurídica para proteger os direitos e os interesses de nossos clientes.'"
            >
    
            </app-diferentials-card>
            <app-diferentials-card
            [icon]="'icons/ion_earth-sharp.svg'"
            [alt]="'Icone de um planeta'"
            [title]="'Atendimento Presencial e Digital'"
            [description]="'Com sede em Santos/SP e estrutura tecnológica moderna, prestamos atendimento presencial e online para clientes de todo o Brasil, garantindo praticidade, agilidade e segurança.'"
            >
    
            </app-diferentials-card>
            <app-diferentials-card
            [icon]="'icons/lamp.svg'"
            [alt]="'Icone de uma lampada'"
            [title]="'Excelência Técnica'"
            [description]="'Buscamos constantemente o aperfeiçoamento profissional e a atualização jurídica para oferecer soluções eficientes, fundamentadas e alinhadas às constantes mudanças da legislação e da jurisprudência.'"
            >
    
            </app-diferentials-card>
        </div>
    </div>
</section>