<section class="about" id="about">
    <div class="about-container container-sm">
        <div class="img-container">
            <img src="images/escritorio-allan-rodrigues-advocacia-santos.webp" alt="Allan Rodrigues - Advogado OAB/SP 461.908 em seu escritório, sentado à mesa com logotipo ao fundo">
        </div>
        <div class="about-content">
            <p class="italic">Conheça nosso</p>
            <h2>Nosso Escritório</h2>
            <p>A Allan Rodrigues Advocacia é um escritório de amplitude nacional, moderno, estratégico e preparado para atender clientes em Santos e em diferentes regiões do Brasil.</p>
            <br>
            <p>Com sede no Estado de São Paulo, o escritório alia atendimento personalizado, conhecimento jurídico e recursos tecnológicos para oferecer soluções eficientes nas áreas do Direito do Trabalho, Direito Civil, Direito Previdenciário, Direito de Família e Sucessões e Direito do Consumidor.</p>
            <br>
            <p>Essa atuação presencial e remota é realizada com excelência por meio de:</p>
            <ul class="about-list-container">
                <li>
                    <img src="icons/check.svg" alt="icone de item checado">
                    <p>
                        <strong>
                            Atendimento presencial em santos;
                        </strong>
                    </p>
                </li>
                <li>
                    <img src="icons/check.svg" alt="icone de item checado">
                    <p>
                        <strong>
                            Videoconferências seguras;
                        </strong>
                    </p>
                </li>
                <li>
                    <img src="icons/check.svg" alt="icone de item checado">
                    <p>
                        <strong>
                            Atendimento via WhatsApp, e-mail e telefone;
                        </strong>
                    </p>
                </li>
                <li>
                    <img src="icons/check.svg" alt="icone de item checado">
                    <p>
                        <strong>
                            Atualizações regulares sobre cada etapa do processo.
                        </strong>
                    </p>
                </li>
            </ul>
            <br>
            <p>
                Com uma estrutura moderna, atendimento presencial e digital e uma atuação pautada pela excelência técnica, a <br><strong>Allan Rodrigues Advocacia</strong> está preparada para atender clientes em todo o Brasil, oferecendo soluções jurídicas eficientes, acessíveis e personalizadas para cada necessidade.
            </p>
            
        </div>
    </div>

</section>