<section class="hero">
    <div class="hero-container container-sm slide" >
        <div class="left">
            <p class="italic">
                Defendemos os direitos de quem trabalha.
            </p>
            <h1>
                <span class="title-name" data-text="Dr. Allan Rodrigues">
                    Dr. Allan Rodrigues
                </span>
                Especialistas em Direito do Trabalho e atuação estratégica nas áreas Cível, Previdenciária, Família e Sucessões e Direito do Consumidor.
            </h1>
            <div class="button">
                <app-button
                [style]="'black'"
                [icon]="'icons/whatsapp-white.svg'"
                [text]="'Falar com Especialista'"
                [href]="'https://wa.me/+551396899084'"
                >
                </app-button>
            </div>
        </div>
        <div class="right">
            <div class="img-container">
                <img src="images/dr-allan-rodrigues-advogado-santos.webp" fetchpriority="high" alt="Allan Rodrigues - Advogado em São Paulo, vestido com terno azul e gravata bordô, em pose profissional">
            </div>
        </div>
    </div>
</section>