<section class="hero">
    <div class="hero-container container">
        <div class="left">
            <p class="italic">
                Defendemos os direitos de quem trabalha.
            </p>
            <h1>
                <span class="title-name">
                    Dr. Allan Rodrigues
                </span>
                Especialistas em Direito do Trabalho e atuação estratégica nas áreas Cível, Previdenciária, Família e Sucessões e Direito do Consumidor.
            </h1>
            <div class="button">
                <app-button
                [style]="'black'"
                [icon]="'icons/whatsapp-white.svg'"
                [text]="'Falar com Especialista'"
                [href]="'#'"
                >
                </app-button>
            </div>
        </div>
        <div class="right">
            <div class="img-container">
                <img src="https://placehold.co/400x455" alt="foto">
            </div>
        </div>
    </div>
</section>